/* Asterisk wildcard selector to override dafault stlyes added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header */
header {
    background-color: lightcoral;
}
/* main */
main  {
    background-color: lightblue;
}
/* footer */
footer {
    background-color: orange;
}